.info__details {
    margin-bottom: 30px;
}

.info__details__p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.info__details__p--blue {
    color: var(--color-blue);
}

label {
    display: none;
}

form textarea {
    max-width: 1015px;
    resize: none;
}

form input,
textarea {
    width: calc(100% - 10px);
    height: 50px;
    margin-bottom: 30px;
    padding: 0;
}

form input {
    width: calc(100vw - 30px);
}

form input,
textarea,
input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 18px;
}

#specifikace {
    height: 200px;
    line-height: 1;
}

.checkbox {
    display: flex;
}

#checkbox {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.checkbox p {
    line-height: 30px;
}

@media only screen and (min-width: 590px) {
    .info__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .info__details {
        width: 45%;
    }

    form input {
        width: calc(100vw / 2 - 60px);
        margin: 20px 0;
        max-width: 500px;
    }

    #společnost,
    #telefon,
    #kurz {
        margin-right: 8px;
    }

    form textarea {
        width: calc(100vw - 100px);
    }
}

@media only screen and (min-width: 960px) {
    .info__details {
        width: 30%;
    }

    form input {
        width: calc(100vw - (100vw / 2) - 110px);
    }

    form textarea {
        width: 100%;
    }
}