section {
  margin-bottom: 30px;
}

.organizers__organizer__figure {
  max-width: 200px;
  margin: 0 auto;
}

.basic_info__figure {
  max-width: 300px;
}

.additioanl_info h3 {
  color: var(--color-blue);
}

.additioanl_info__rules__a:nth-child(3) {
  margin-left: 40px;
}

.additioanl_info__contact__a,
.additioanl_info__rules__a {
  display: inline;
  color: var(--color-blue);
  text-decoration: underline;
}
.additioanl_info__div {
  margin-bottom: 20px;
}
@media only screen and (min-width: 590px) {
  .basic_info {
    display: flex;
  }

  .basic_info__figure {
    flex-shrink: 0;
  }

  .orzanizers__organizer {
    display: flex;
  }

  .organizers__organizer__figure {
    flex-shrink: 0;
  }
  .additioanl_info__div__flex {
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 690px) {
  .additioanl_info__flex {
    display: flex;
    justify-content: space-evenly;
  }
  .additioanl_info__rules__a {
    display: block;
  }
  .additioanl_info__rules__a:nth-child(3) {
    margin-left: 0px;
  }
} 
@media only screen and (min-width: 1340px) {
  .additioanl_info {
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .additioanl_info h2 {
    position: absolute;
    top:-50px
  }
  .additioanl_info__flex {
    width: 45%;
  }
}